/* CREATED BY: ARUNAV DAS
   STUDENT NUMBER: 8980570
*/
body{
    width: auto;
    max-width: auto;
    margin: auto;
    font: italic , 16px Arial, sans-serif; 
    padding: 20px;
    background: linear-gradient(to bottom left, red, white 57%);
}
.border {
    border: 2.5px solid #000; 
    border-radius: 20px; 
    padding: 10px; 
    margin: auto;
}

h1,h2{
    color: #8b008b;
    font-variant: small-caps;
}
footer p{
    font-size: 14px;
    color:black;
}

main{
    float: left;
    width: 66.666%;
    padding: 10px;
    margin-right: 20px;
}
aside{
    float: right  
    width: 33.333%;
    padding: 10px;
    margin-right: 20px;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.imgborder{
    border: 4px solid #8b008b;
}
figcaption{
    font-weight: bold;
    font-variant: small-caps;
}

q{
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
}
aside ul li {
    list-style: none;
    line-height: 2;
}

aside ul li a {
    text-decoration: none;
    color: #cc1400;
}


aside ul li a:hover {
    color: #004080;
}
